@font-face {
    font-family: 'navbar';
    src: url(../fonts/halcom/Halcom\ Regular.otf);
}
*{
   /*outline: 1px solid #f00 !important;*/
}
body::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 10px;
}
.hidden{
    display: none;
}
.nav-link{
    color: black;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.507);
    transition: .1s;
}
.nav-link.active{
    border-radius: 2px;
    border-bottom: 2px solid yellow;
}

.nav-link:hover{
    color: #fce42e;
    
}

































@media (min-width:2700px) and (max-width:3000px){
	/*2850*/
    
}





@media (min-width:2400px) and (max-width:2699px){
	/*2550*/
    
}





@media (min-width:2100px) and (max-width:2399px){
	/*2250*/
    
}
    





@media (min-width:1800px) and (max-width:2099px){
     	/*1950*/
         
}





@media (min-width:1500px) and (max-width:1799px){
     	/*1650*/
    
}





@media (min-width:1200px) and (max-width:1499px){
  	/*1350*/
      
}





@media (min-width:991px) and (max-width:1199px){
  	/*1050*/
      
}





@media (min-width:600px) and (max-width:990px){
    	/*750*/
        
}





@media (min-width:300px) and (max-width:599px){
    	/*450*/
        
}
